@import "tailwindcss";

@theme {

   /* --------- CORE --------- */

  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-surface-2: #334155;

  --color-text: #F8FAFC;
  --color-muted: #CBD5E1;

  /* --------- GAMEPLAY --------- */

  --color-card-back: #2563EB;
  --color-card-back-hover: #3B82F6;

  --color-question: #FACC15;
  --color-question-glow: #FDE047;

  --color-timer: #22D3EE;
  --color-timer-danger: #F97316;

  /* --------- MODALS --------- */

  --color-modal: #1E293B;
  --color-modal-border: #334155;

  /* --------- FEEDBACK --------- */

  --color-success: #22C55E;
  --color-success-bg: #052E16;

  --color-error: #EF4444;
  --color-error-bg: #450A0A;

  /* --------- CTA --------- */

  --color-primary: #EC4899;
  --color-primary-hover: #F472B6;
  --color-primary-active: #DB2777;

  
  
  --animate-slide-down: slide-down 0.7s ease-out;
  --animate-slide-up: slide-up 0.7s ease-out;
  --animate-bounce-once: bounce-once 0.5s ease;

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bounce-once {
    0%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-4px);
    }
  }
}