@import 'tailwindcss';

@theme {
  /* --------- CORE --------- */

  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-2: #334155;

  --color-text: #f8fafc;
  --color-muted: #cbd5e1;

  /* --------- GAMEPLAY --------- */

  --color-card-back: #2563eb;
  --color-card-back-hover: #3b82f6;

  --color-question: #facc15;
  --color-question-glow: #fde047;

  --color-timer: #22d3ee;
  --color-timer-danger: #f97316;

  /* --------- EFFECTS --------- */

  --perspective-card: 1000px;

  --shadow-card: 0 10px 20px rgba(0, 0, 0, 0.3);

  --shadow-card-hover: 0 0 20px rgba(59, 130, 246, 0.45);

  --shadow-question: 0 0 10px rgba(253, 224, 71, 0.6);

  /* --------- MODALS --------- */

  --color-modal: #1e293b;
  --color-modal-border: #334155;

  /* --------- FEEDBACK --------- */

  --color-success: #22c55e;
  --color-success-bg: #052e16;

  --color-error: #ef4444;
  --color-error-bg: #450a0a;

  /* --------- CTA --------- */

  --color-primary: #ec4899;
  --color-primary-hover: #f472b6;
  --color-primary-active: #db2777;

  /* --------- Secondary Actions ---------- */

  --color-secondary: #334155;
  --color-secondary-hover: #475569;
  --color-secondary-active: #1e293b;

  --animate-slide-down: slide-down 0.7s ease-out;
  --animate-slide-up: slide-up 0.7s ease-out;
  --animate-bounce-once: bounce-once 0.5s ease;

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bounce-once {
    0%,
    100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-4px);
    }
  }
}

.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
